﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = @Model.First().Category.Name;
}


<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>@Model.First().Category.Name</h2>
                </div>
            </div>
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="/#furniture">@Model.First().Category.Department.Name</a><i class="icon-angle-right"></i></li>
                    <li class="active">@Model.First().Category.Name</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="portfolio-categ filter">
                    <li class="all active"><a href="#">Wszystkie</a></li>
                    @foreach (var item in Model.Where(A => A.Subcategory != null).Select(m => m.Subcategory?.Name).Distinct())
                    {
                        <li class="@item.Replace(" ", "")"><a href="#" title="">@item</a></li>
                    }

                </ul>
                <div class="clearfix">
                </div>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs">
                            @foreach (var item in Model)
                            {
                                <li class="item-thumbs span4" data-id="id-@item.Id" data-type="@item.Subcategory?.Name.Replace(" ","")">

                                    <div class="box aligncenter">
                                        <a href="@Url.Action("Product","Home", new { id = item.SeoUrl })">
                                            <div class="image aligncenter">
                                                <img src="@item.Photos?.FirstOrDefault()"
                                                     title="@item.Category.Prefix @item.Name"
                                                     alt="@item.Category.Prefix @item.Name">
                                            </div>
                                            <div class="">
                                                <h6>@item.Name</h6>
                                                @if (@item.MainProduct == 0 && item.Variants.Any())
                                                {
                                                    <a href="@Url.Action("Product","Home", new { id = item.SeoUrl })#variats" class="btn btn-mini btn-red e_pulse animated pulse" title="zobacz inne warianty">
                                                        <h7>Ilość wariantów: @item.Variants.Count()</h7>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                                @if (item.Price != 0)
                                                {
                                                    <h5>
                                                        <span class="highlight">
                                                            @item.Price zł
                                                        </span>
                                                    </h5>
                                                }
                                                else
                                                {
                                                    <h5>
                                                        <span class="highlight">
                                                            Zaptaj o cenę
                                                        </span>
                                                    </h5>
                                                }

                                            </div>
                                        </a>
                                    </div>


                                </li>


                            }
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

