﻿@{
    ViewData["Title"] = "Producent mebli tapicerowanych - Wrocław";
}
@model IndexPageViewModel

<section id="featured">
    <!-- start slider -->
    <!-- Slider -->
    <div id="nivo-slider">
        <div class="nivo-slider">
            @foreach (var item in Model.Baners)
            {
                <img src="@item.PhotoUrl" alt="" title="#caption-@item.GetHashCode()" />
            }
        </div>

            
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- Slide #1 caption -->
                        @foreach (var item in Model.Baners)
                        { 
                            <div class="nivo-caption" id="caption-@item.GetHashCode()">
                                <div>
                                    <h2>@item.Header</h2>                                    
                                    <p>
                                       @item.Content                                      
                                    </p>
                                    <a href="@item.RedirectUrl" class="btn btn-theme">@item.RedirectText</a>
                                </div>
                            </div>
                        }                      
                </div>
            </div>
        </div>
    </div>      
</section>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="big-cta">
                    <div class="cta-text ">
                        <h3>Produkujemy meble tapicerowane <span class="highlight"><strong>najwyższej</strong></span> jakości</h3>
                        <hr />
                        <h5>@ViewData["Slogan"]</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-group icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Jesteśmy małą firmą</h6>
                                <p>
                                    dzięki czemu mamy wgląd w cały proces produkcji naszych mebli.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-check icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Wykorzystujemy materiały dobrej jakości</h6>
                                <p>
                                    sami wytwarzamy większość komponentów z których produkowane są nasze meble dzięki czemu wiemy, że są one trwałe na lata.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-truck icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Dysponujemy własną dystrybucją</h6>
                                <p>
                                    dzięki której wysoka jakość idzie w parze z przystępną ceną.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-beaker icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Jesteśmy elastyczni</h6>
                                <p>
                                    dzięki temu, że projektujemy meble od zera i jesteśmy gotowi na wszelkie sugestie klientów.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row" id="furniture">
            <div class="span12">
                <h4 class="heading">Sprawdź nasze <strong>meble</strong></h4>
                <div class="row">
                    <ul id="thumbs" class="portfolio">
                        <!-- Item Project and Filter Name -->
                        @foreach (var item in Model.Categories)
                        {
                            <li class="item-thumbs span3">
                                <div class="box aligncenter">
                                    <a href="@Url.Action("Category", "Home", new { id = item.SeoUrl })">
                                        <div class="image aligncenter">
                                            <img src="@item.Photo"
                                                 title="@item.Name"
                                                 alt="@item.Name">
                                        </div>
                                        <div class="text">
                                            <h6>@item.Name</h6>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>

        <!-- <h4>Jak dojechać</h4>
        <div id="google-map" data-latitude="51.371755" data-longitude="17.478215"></div> -->

        <div class="container" id="contact">
            <div class="row">
                <div class="span12">
                    <h4>Masz jakieś pytania? <strong>Skontaktuje się z nami</strong></h4>

                    <form action="" method="post" role="form" class="contactForm" id="contactForm">
                        <div id="sendmessage">Twoja wiadomość została wysłana. Dziękujemy!</div>
                        <div id="errormessage">Błąd wysyłania wiadomości. Sprawdź pola formularza. Musisz podać adres email lub telefon kontaktowy. Jeśli wszystko jest wpisane poprawnie spróbuj później lub skontaktuj się z nami bezpośrednio na meble@janiakmeble.pl</div>
                        <div class="row">
                            <div class="span4 form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Twoje imię" data-rule="minlen:4" data-msg="" />
                                <div class="validation"></div>
                            </div>
                            <div class="span4 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Twój Email" data-rule="email" data-msg="Wprowadź prawidłowy adres email" />
                                <div class="validation"></div>
                            </div>

                            <div class="span4 form-group">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Numer telefonu (opcjonalnie)" data-rule="phone" data-msg="Wprowadź prawidłowy numer telefonu" />
                                <div class="validation"></div>
                            </div>

                            <div class="span12 margintop10 form-group">
                                <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Napisz coś do nas" placeholder="Wiadomość"></textarea>
                                <div class="validation"></div>
                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit">Wyślij</button>
                                </p>
                            </div>
                        </div>
                        <p class="rodo">
                            Administratorem danych osobowych jest firma <strong>Janiak Meble z siedzibą w Moszyce 23B 56-416 Twardogóra</strong>. Dane wpisane w formularzu kontaktowym będą przetwarzane <strong>jedynie w celu udzielenia odpowiedzi na przesłane zapytanie</strong> i nie są udostępniane podmiotom trzecim. Dane <strong>nie będą</strong> wykorzystywane w celach marketingowych.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> 