﻿@model JaniakMebleWebsite.Models.Information
@{
    ViewData["Title"] = Model.Header;
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2> @Model.Header</h2>
                </div>
            </div>
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active"> @Model.Header</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="clearfix">
                </div>
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</section>
