﻿
@{
    ViewData["Title"] = "Inspiracje";
}

@model List<JaniakMebleWebsite.Models.Inspiration>

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>Inspiracje</h2>
                </div>
            </div>
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Inspiracje</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                @*<ul class="portfolio-categ filter">
                        <li class="all active"><a href="#">All</a></li>
                        <li class="web"><a href="#" title="">Web design</a></li>
                        <li class="icon"><a href="#" title="">Icons</a></li>
                        <li class="graphic"><a href="#" title="">Graphic design</a></li>
                    </ul>*@
                <div class="clearfix">
                </div>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            @foreach (var item in Model)
                            {

                                <li class="item-thumbs span6 design">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="@Html.DisplayFor(modelItem => item.Name)" href="@Html.DisplayFor(modelItem => item.Url)">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-fire"></span>
                                    </a>
                                    <img src="@Html.DisplayFor(modelItem => item.Url)" alt="@Html.DisplayFor(modelItem => item.Description)">
                                </li>
                            }
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

