﻿@model JaniakMebleWebsite.ViewModels.ProductPageViewModel

@{
    ViewData["Title"] = Model.Product.Category.Prefix + " " + Model.Product.Name;
}


<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2> @Model.Product.Category.Prefix @Model.Product.Name</h2>
                </div>
            </div>
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="/#furniture">@Model.Product.Category.Department.Name</a><i class="icon-angle-right"></i></li>
                    <li><a href="@Url.Action("Category", "Home", new { Id = Model.Product.Category.SeoUrl })">@Model.Product.Category.Name</a><i class="icon-angle-right"></i></li>
                    <li class="active">@Model.Product.Category.Prefix @Model.Product.Name</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="top-wrapper">
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var item in Model.Product.Photos)
                            {
                                <li>
                                    <img title="@Model.Product.Category.Prefix @Model.Product.Name" src="@Html.DisplayFor(modelItem => item)" alt="@Model.Product.Category.Prefix @Model.Product.Name" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <h5 class="widgetheading"> @Model.Product.Category.Prefix @Model.Product.Name</h5>
                        @{
                            string dec = Model.Product.Description;
                            string shortDescription = dec.Substring(0, dec.Length > 230 ? 230 : dec.Length);
                        }
                        <p>   @Html.Raw(shortDescription)..<a href="#description"> przejdź do opisu</a> </p>
                    </div>
                    <div class="widget">
                        <div class="widget">
                            <div class="pricing-box-alt">
                                <div class="pricing-heading">
                                    <a href="#order-form">
                                        <h3> Zamów <strong>teraz</strong></h3>
                                    </a>
                                </div>
                                <div class="pricing-terms">
                                    @if (Model.Product.Price != 0)
                                    {
                                        <h6>@Model.Product.Price zł</h6>
                                    }
                                    else
                                    {
                                        <a href="#order-form">
                                            <h6>Zaptaj o cenę</h6>
                                            <i class="icon-phone"></i>
                                            <span>695 532 980</span>
                                        </a>
                                    }
                                </div>
                                <div class="pricing-content">
                                    <p><strong> Dostępny w tkaninach</strong></p>
                                    <ul>
                                        @foreach (var item in Model.Product.Textilies)
                                        {
                                            <li>
                                                <a class="fancybox" title="@Html.DisplayFor(modelItem => item.Name)" href="@Html.DisplayFor(modelItem => item.Url)" alt="@Html.DisplayFor(modelItem => item.Description)">
                                                    <i class="icon-external-link"></i> @Html.DisplayFor(modelItem => item.Name)
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="#order-form" id="orderBtn" class="btn btn-medium btn-theme"><i class="icon-shopping-cart"></i> Zamów</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        @if (Model.Product.Variants.Any())
        {
            <hr />
            <div class="row">
                <div class="span12" id="variats">
                    <h4>Zobacz inne <strong>warianty</strong></h4>
                    <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
                        @foreach (var item in Model.Product.Variants)
                        {
                            <li>
                                <a href="@Url.Action("Product", "Home", new { id = item.SeoUrl })">
                                    <img src="@item.Photos?.FirstOrDefault()" class="client-logo" alt="" />
                                    <h5 class="aligncenter">
                                        @item.Name
                                    </h5>
                                    @if (item.Price != 0)
                                    {
                                        <h6 class="aligncenter variant-price">@item.Price zł</h6>
                                    }
                                    else
                                    {
                                        <h6 class="aligncenter variant-price">Zaptaj o cenę</h6>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <hr />
        }


        <hr />
        <div class="row">
            @if (Model.Product.Description != null && !String.IsNullOrWhiteSpace(Model.Product.Description))
            {
                <div class="span4 product-content-box">
                    <div class="widget" id="description">
                        <h5 class="widgetheading"> @Model.Product.Category.Prefix @Model.Product.Name</h5>
                        <p>
                            @Html.Raw(Model.Product.Description)
                        </p>
                    </div>
                </div>
            }
            @if (Model.Product.Sizes.Any())
            {
                <div class="span4 product-content-box">
                    <div class="widget">
                        <h5 class="widgetheading"> Wymiary</h5>
                        <ul class="folio-detail">
                            @foreach (var item in Model.Product.Sizes)
                            {
                                <li><label>@item.Key :</label> @item.Value cm</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            @if (Model.Product.Parameters.Any())
            {
                <div class="span4 product-content-box">
                    <div class="widget">
                        <h5 class="widgetheading">Specyfikacja</h5>
                        <ul class="folio-detail">
                            @foreach (var item in Model.Product.Parameters)
                            {
                                <li><label>@item.Key :</label> @item.Value</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            @if (Model.Product.Attributes.Any())
            {
                <div class="span4 product-content-box">
                    <div class="widget">
                        <h5 class="widgetheading"> Cechy</h5>
                        <ul class="folio-detail">

                            @foreach (var item in Model.Product.Attributes)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>

        <hr />
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="aligncenter">
                            <div class="aligncenter icon">
                                <a href="/informacje/warunki-gwarancji"><i class="icon-group icon-circled icon-64 active"></i></a>
                            </div>
                            <div class="text">
                                <h6> Gwarancja</h6>
                                <p>
                                    Na każdy nasz produkt udzielamy dwóch lat gwarancji. Sprawdź <a href="/informacje/warunki-gwarancji">warunki gwarancji</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-check icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6> Na wymiar</h6>
                                <p>
                                    Wykonujemy też meble na wymiar. Zapytaj o tę opcję naszego konsultanta podczas zamówienia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="aligncenter">
                            <div class="aligncenter icon">
                                <a href="/informacje/dostawa"><i class="icon-truck icon-circled icon-64 active"></i></a>
                            </div>
                            <div class="text">
                                <h6>Transport</h6>
                                <p>
                                    Dysponujemy własnym transportem. Cena transportu uzależniona jest od odległości od naszej siedziby i waha się od 50 do 250 zł. Sprawdź <a href="/informacje/dostawa">szczegóły tutaj</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-beaker icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6> Czas realizacji</h6>
                                <p>
                                    Czas realizacji w głównej mierze jest uzależniony od miejsca dostawy i planowanej trasy w ten region. Staramy się jak najszybciej dostarczyć Państwa zamówienia a maksymalny czas oczekiwania wynosi 21 dni.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <h4>Pytania i odpowiedzi</h4>
            <div class="accordion" id="accordion2">
                @foreach (var item in Model.QuestionsAndAnswers)
                {
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@item.GetHashCode()">
                                <i class="icon-plus"></i> @Html.Raw(item.Question)
                            </a>
                        </div>
                        <div id="@item.GetHashCode()" class="accordion-body collapse">
                            <div class="accordion-inner">
                                @Html.Raw(item.Answer)
                            </div>
                        </div>
                    </div>
                }
                <div class="accordion-group" id="order-form">
                    <div class="accordion-heading accordion-order">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOrder">
                            <i class="icon-plus"></i> Jak zamówić?
                        </a>
                    </div>
                    <div id="collapseOrder" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="container">
                                <p style="width:90%">
                                    Zamówienie w naszej firmie moża złożyć mailowo lub telefonicznie. Wypełnij poniższy formularz a odezwiemy się do Ciebie. Wypełnienie formularza nie jest zobowiązujące. Jeśli masz jakieś pytania, zadaj je tutaj a my odezwiemy się do Ciebie. <strong>Do wiadomości zostaną dłączone informacje o oglądanym przez Ciebie produkcie, nie musisz ich podawać w wiadomości.</strong>
                                </p>
                                <div class="row margintop20">
                                    <div id="sendmessage" class="message-in-product">
                                        Wiadomość wysłana.Nasz konsultant wkrótce się z Tobą skontaktuje. Życzymy miłego dnia ;)
                                    </div>
                                    <div id="errormessage" class="message-in-product">Wystąpił błąd. Sprawdź pola formularza. Jeśli wszystko jest poprawnie spróbuj później lub skontaktuj się z nami bezpośrednio na meble@janiakmeble.pl</div>


                                    <div class="span6">
                                        <form action="" method="post" role="form" class="contactForm" id="emailOrder">
                                            <div class="row">
                                                <h4 class="aligncenter span5">Zamów przez email</h4>
                                                <div class="span5 form-group">
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Twoje imię" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                    <div class="validation"></div>
                                                </div>
                                                <div class="span5 form-group">
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Twój Email" data-rule="email" data-msg="Proszę podać adres Email" required />
                                                    <div class="validation"></div>
                                                </div>                                              
                                                <div class="hidden">
                                                    <input type="text" class="form-control" name="metadata" id="metadata" value="Produkt: @Model.Product.Category.Name -> @Model.Product.Name">
                                                </div>
                                                <div class="span5 margintop20 form-group">
                                                    <textarea class="form-control" name="message" rows="6" data-rule="required" data-msg="Please write something for us" placeholder="Wiadomość"></textarea>
                                                    <div class="validation"></div>
                                                    <p class="text-center">
                                                        <button class="btn btn-large btn-theme margintop10" type="submit">Zamów przez email</button>
                                                    </p>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="span6">
                                        <form action="" method="post" role="form" class="contactForm" id="phoneOrder">
                                            <div class="row">
                                                <h4 class="aligncenter span5">Zamów przez telefon</h4>
                                                <p class="aligncenter span5 contact-form-phone-text">zadzwoń pod numer 695 532 980 <br /> lub <br /> zamów rozmowę, a zadzwonimy do Ciebie w ciągu 24h</p>
                                                <div class="span5 form-group">
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Twoje imię" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                    <div class="validation"></div>
                                                </div>
                                                <div class="span5 form-group">
                                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Numer telefonu" data-rule="minlen:9" data-msg="Proszę podać numer telefonu" required />
                                                    <div class="validation"></div>
                                                </div>                                               
                                                <div class="hidden">
                                                    <input type="text" class="form-control" name="metadata" id="metadata" value="Produkt: @Model.Product.Category.Name -> @Model.Product.Name">
                                                </div>
                                                <div class="span5 margintop20 form-group">
                                                    <div class="validation"></div>
                                                    <p class="text-center">
                                                        <button class="btn btn-large btn-theme margintop10" type="submit">Zamów przez telefon</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <p class="span11 rodo">
                                    Administratorem danych osobowych jest firma <strong>Janiak Meble z siedzibą w Moszyce 23B 56-416 Twardogóra</strong>. Dane wpisane w formularzu kontaktowym będą przetwarzane <strong>jedynie w celu udzielenia odpowiedzi na przesłane zapytanie</strong> i nie są udostępniane podmiotom trzecim. Dane <strong>nie będą</strong> wykorzystywane w celach marketingowych.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>