﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Janiak Meble - @ViewData["Title"]</title>
    <meta name="description" content="Marzy Ci się nowy narożnik dopasowany do Twoich potrzeb, nowa wygodna sofa lub stylowy fotel? Dobrze trafiłeś! Zajmujemy się produkcją mebli tapicerowanych. Transport na terenie całej Polski. Przystępne ceny. Darmowy transport do Wrocławia." />
    <meta name="Keywords" content="meble, janiak, meble, Wrocław, jakość, ekskluzywne, narożniki, kanapy, wersalki, fotele, łóżka, pufy, meble kuchenne, meble biurowe, meble tapicerowane, meble pokojowe, meble dla dzieci, meble młodzieżowe, meble do sypialni, meble wypoczynkowe, meble do salonu, tanie meble, meble sypialniane, meble hotelowe, meble systemowe" />
    @*CSS*@

    <link async href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link async href="~/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link async href="~/css/style.css" rel="stylesheet" />
    <!-- Theme skin -->
    <link id="t-colors" href="~/skins/kissme.css" rel="stylesheet" />
    @*NOT IMPORTANT CSS*@

    <link async href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/jcarousel.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/cslider.css" rel="stylesheet" />

    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="~/ico/favicon.png">

    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="~/ico/favicon.png">

    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="~/ico/favicon310.png">

    <!-- Google Analiystics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34791270-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '358960601353776',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.12'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/pl_PL/sdk/xfbml.customerchat.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    



</head>
<body>
    <div class="fb-customerchat" page_id="261373657303376"></div>
    <div id="wrapper">
        <!-- toggle top area -->
        <!-- end toggle top area -->
        <!-- start header -->
        <div id="blank"></div>
        <header>
            <div class="hidden-top">
                <div class="hidden-top-inner container">
                    <div class="row">
                        <div class="span12">
                            <ul>
                                @if ((System.DateTime.Now.DayOfWeek >= DayOfWeek.Monday) && (System.DateTime.Now.DayOfWeek <= DayOfWeek.Friday) && System.DateTime.Now.Hour > 8 && System.DateTime.Now.Hour < 16)
                                {
                                    <li><strong>Jesteśmy do Twojej dyspozycji</strong></li>
                                }
                                else if ((System.DateTime.Now.DayOfWeek >= DayOfWeek.Sunday) && (System.DateTime.Now.DayOfWeek <= DayOfWeek.Thursday))
                                {
                                    <li><strong>Będziemy do Twojej dyspozycji jutro od 8:00 </strong></li>
                                }
                                else
                                {
                                    <li><strong>Będziemy do Twojej dyspozycji w poniedziałek od 8:00 </strong></li>
                                }
                                <li>Zadzwoń <i class="icon-phone"></i> 695 532 980</li>
                                <li>lub</li>
                                <li>Napisz <i class="icon-envelope-alt"></i> biuro@janiakmeble.pl</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- hidden top area toggle link -->
                <div id="header-hidden-link">
                    <a href="#" class="toggle-link" title="Szybki kontakt" data-target=".hidden-top"><i></i>Otwórz</a>
                </div>
                <!-- end toggle link -->
                <div class="row nomargin">
                    <div class="span12">
                        <div class="headnav">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="logo">
                            <a href="/"><img src="~/img/logo-min.png" alt="Janiak Meble - producent mebli tapicerowanych w okolicy Wrocławia" class="logo" /></a>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        <li>
                                            <a href="/#furniture"> Meble</a>
                                        </li>
                                        @*<li>
                                                <a href="#"> Artykuły meblowe </a>
                                            </li>*@
                                        @*<li>
                                                <a href="@Url.Action("Inspiration", "Home")"> Inspiracje</a>
                                            </li>*@
                                        <li>
                                            <a href="/#contact"> Kontakt</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @*content*@
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="widget">
                            <h5 class="widgetheading">Strony</h5>
                            <ul class="link-list">
                                <li><a href="/#furniture" title="Meble tapicerowane"> Meble</a></li>
                                <li><a href="/informacje/dostawa" title="Dostawa"> Transport</a></li>
                                <li><a href="/informacje/zakupy-na-raty" title="Zakupy na raty"> Zakupy na raty</a></li>
                                <li><a href="/informacje/warunki-gwarancji" title="Warunki gwarancji"> Gwarancja</a></li>
                                <li><a href="/informacje/regulamin" title="Regulamin"> Regulamin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="widget">
                            <h5 class="widgetheading"> Techniczne</h5>
                            <ul class="link-list">
                                <li><a href="/informacje/instrukcja-montazu" title="Instrukcja montażu"> Instrukcja montażu</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="span3">
                        <div class="widget">
                            <h5 class="widgetheading"> Społeczności</h5>
                            <ul class="social-network">
                                <li><a href="https://www.facebook.com/JaniakMeble" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-rounded icon-64"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="span3">
                        <div class="widget">
                            <h5 class="widgetheading"> Pozostańmy w kontakcie</h5>
                            <address>
                                <strong>Janiak Meble</strong><br>
                                Moszyce 23B<br>
                                56-416 Twardogóra
                            </address>
                            <p>
                                <i class="icon-phone"></i> 695 532 980 <br>
                                <i class="icon-envelope-alt"></i> biuro@janiakmeble.pl
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; Janiak Meble - Wszystkie prawa zastrzeżone.</span>
                                </p>
                                <div class="credits">
                                    Develop by <a href="https://www.linkedin.com/in/bartosz-janiak-985b43149/">Bartosz Janiak</a>
                                </div>
                            </div>
                        </div>
                        <div class="span6">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

    <!-- Hotjar Tracking Code for janiakmeble.pl -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1131479, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>


    @*SCRIPTS*@
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/jquery.fancybox-media.js"></script>
    <script async src="~/js/google-code-prettify/prettify.js"></script>
    <script async src="~/js/portfolio/jquery.quicksand.js"></script>
    <script async src="~/js/portfolio/setting.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.nivo.slider.js"></script>
    <script async src="~/js/modernizr.custom.js"></script>
    <script src="~/js/jquery.ba-cond.min.js"></script>
    <script src="~/js/jquery.slitslider.js"></script>
    <script async src="~/js/animate.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6_vwe4Cg16doHe4d7BziPMQVnqyF4O60"></script> -->
    <!-- Template Custom JavaScript File -->
    <script async src="~/js/custom.js"></script>
    <script src="~/js/resizer.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
