a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, footer ul.link-list li a:hover, .post-meta span a:hover, footer a.text-link,
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation{color:#6D0C1F;}
.navbar .nav > .active.dropdown > a.dropdown-toggle,
.navbar .nav > .active.dropdown > a.dropdown-toggle:hover,
.navbar .nav > .active.dropdown > a.dropdown-toggle:focus,
.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover,
.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover,
.flex-control-nav li a.active{background-color:#6D0C1F;}
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus{border:1px solid #6D0C1F;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{border-color:#6D0C1F;}
input:focus{border-color:#6D0C1F;}
form#contactform1 .validation{color:#6D0C1F;}
#sendmessage{color:#6D0C1F;}
.pullquote-left{border-left:5px solid #6D0C1F;}
.pullquote-right{border-right:5px solid #6D0C1F;}
.hidden-top{background:#6D0C1F;}
#header-hidden-link a.toggle-link,
#header-hidden-link a.top-link{background:#6D0C1F;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus{background:#6D0C1F;}
ul.clients li:hover{border:4px solid #6D0C1F;}
.btn-dark:hover,.btn-dark:focus,.btn-dark:active{background:#6D0C1F;border:1px solid #6D0C1F;}
.btn-theme{border:1px solid #6D0C1F;background:#6D0C1F;}
.modal.styled .modal-header{background-color:#6D0C1F;}
.post-meta{border-top:4px solid #6D0C1F;}
.post-meta .comments a:hover{color:#6D0C1F;}
.widget ul.tags li a:hover{background:#6D0C1F;}
.recent-post .text h5 a:hover{color:#6D0C1F;}
.pricing-box-alt.special .pricing-heading{background:#6D0C1F;}
.item-thumbs .hover-wrap .overlay-img{background:#6D0C1F;}
#pagination a:hover{background:#6D0C1F;}
.pricing-box.special .pricing-offer{background:#6D0C1F;}
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover{background-color:#6D0C1F;}
[class^="icon-"].active,
[class*=" icon-"].active{background-color:#6D0C1F;}
.fancybox-close:hover{background-color:#6D0C1F;}
.fancybox-nav:hover span{background-color:#6D0C1F;}
.da-slide .da-link:hover{background:#6D0C1F;border:4px solid #6D0C1F;}
.da-dots span{background:#6D0C1F;}
#featured .flexslider .slide-caption{border-left:5px solid #6D0C1F;}
.nivo-directionNav a:hover{background-color:#6D0C1F;}
.nivo-caption, .caption{border-bottom:#6D0C1F 5px solid;}